### Q1
List the basic data types in python and give one example each.

In [ ]:
# The basic data types in python are:
1. Integers eg. 23
2. Float eg. 23.45
3. Boolean eg. True
4. String eg. "cars"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [40]:
x = 4539.85

In [45]:
y = str(x)
print(y)
type(y)

4539.85

str

In [46]:
z = int(x)
print(z)
type(z)

4539

int

### Q3

What data type would you use to store

a. The price of car? 

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"? 

d. The price of fuel  

e. The number of students in the class  

f. The weight of a person  

g. Check whether two figures are equal  

i. The name of a  school 

j. The average result of the overall score of a student 

k. The total number of vote cast

In [ ]:
a. Float

In [ ]:
b. Integer

In [ ]:
c. String

In [ ]:
d. Float

In [ ]:
e. Integer

In [ ]:
f. Float

In [ ]:
g. Boolean

In [ ]:
i. String

In [ ]:
j. Float

In [ ]:
k. Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [48]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great additon to the team"

In [55]:
statement_1 = statement[:60]
statement_1

'Thomas Partey is arguably the best player in the Black Stars'

In [60]:
statement_2 = statement[61:]
statement_2

' He is a great additon to the team'

In [61]:
len(statement_1)

60

In [62]:
len(statement_2)

34

In [63]:
 len(statement_1) > len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
True represents 1

In [ ]:
False represents 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [68]:
78 > 46 and 78 > 30%2 !=0

False

In [67]:
8-2 % 2 == 0 or 8 % 2 != 0

False

In [69]:
len("boostrap") == 7 and len("sample") ==6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [31]:
word='Hello, How are you?'

In [33]:
word[7:10]

'How'

In [34]:
word[7:]

'How are you?'

In [35]:
word[11:14]

'are'

In [36]:
word[-1]

'?'

In [39]:
word[:-1]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [24]:
sentence = "I am very excited"

In [25]:
sentence.upper()

'I AM VERY EXCITED'

In [26]:
sentence.lower()

'i am very excited'

In [28]:
sentence.title()

'I Am Very Excited'

In [30]:
list_sen = list(sentence)
type(list_sen)

list

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [13]:
word = "oneThirtyEight"

In [14]:
word[:3]

'one'

In [15]:
word[3:9]

'Thirty'

In [16]:
word[9:]

'Eight'

In [17]:
word[:9]

'oneThirty'

In [18]:
word[3:]

'ThirtyEight'

In [19]:
a = word[0:]
a.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [22]:
name = str("Ault'Kelly")
name

"Ault'Kelly"