### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
Set eg. A = {1,2,3,4}
Tuple eg. A = (1,2,3,4,5)
List eg. A = [1,2,3,4]
Dictionary A ={"cars":4, "trains":2, "bikes":15}

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
1. List is defined by [] or list() but tuple is defined by tuple() or ()
2. Lists are mutable but tuples are immutable

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [26]:
animal_list = ["goat", "cow", "sheep", "cat", "dog"]
animal_list

['goat', 'cow', 'sheep', 'cat', 'dog']

In [27]:
print(animal_list[:2])

['goat', 'cow']

In [28]:
print(animal_list[3:])

['cat', 'dog']

In [29]:
animal_list.extend(["lion", "tiger", "elephant"])
animal_list

['goat', 'cow', 'sheep', 'cat', 'dog', 'lion', 'tiger', 'elephant']

In [30]:
animal_list.remove("goat")
animal_list

['cow', 'sheep', 'cat', 'dog', 'lion', 'tiger', 'elephant']

In [31]:
animal_list.remove("cow")
animal_list

['sheep', 'cat', 'dog', 'lion', 'tiger', 'elephant']

In [34]:
animal_list

['sheep', 'cat', 'dog', 'lion', 'tiger', 'elephant']

In [35]:
len(animal_list)

6

In [32]:
animal_set = set(animal_list)
animal_set

{'cat', 'dog', 'elephant', 'lion', 'sheep', 'tiger'}

In [33]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [36]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
suitcase

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']

In [39]:
first = suitcase[:2]
first

['sunglasses', 'hat']

In [43]:
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [44]:
last = suitcase[-2:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [51]:
values = [20,25,30,40,45,50,55,60,65,70]
values

[20, 25, 30, 40, 45, 50, 55, 60, 65, 70]

In [57]:
values.append(35)

In [58]:
values.sort()

In [59]:
values

[20, 25, 30, 35, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
When I do not want to make changes, I will use a tuple since tuples are immutable.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [62]:
region_capital = {"eastern":"koforidua", "western":"takoradi", "northern":"tamale", "volta":"ho", "upper west":"wa"}
region_capital

{'eastern': 'koforidua',
 'western': 'takoradi',
 'northern': 'tamale',
 'volta': 'ho',
 'upper west': 'wa'}

In [65]:
region_capital.keys()

dict_keys(['eastern', 'western', 'northern', 'volta', 'upper west'])

In [66]:
region_capital.values()

dict_values(['koforidua', 'takoradi', 'tamale', 'ho', 'wa'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [67]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
values

[3, 4, 5, 6, 3, 4, 3, 5, 2, 4, 2, 5, 6, 1, 6]

In [68]:
sum(values)

59

In [69]:
max(values)

6

In [71]:
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [73]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [74]:
dic = dict()
for x in range(1,16):
    dic[x]=x**2
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [93]:
d = {'x': [], 'y': [], 'z': []}


for key in d:
    if key == 'x':
        d[key] = list(range(11, 21))
    elif key == 'y':
        d[key] = list(range(21, 31))
    elif key == 'z':
        d[key] = list(range(31, 41))


print(d)

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}