# Q1
Write a code to display a list of the first 12 multiples of 8 using a for loop

In [13]:
mul_8 = []
for x in range(1,100):
    if x%8 == 0:
        mul_8.append(x)
        
mul_8

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

# Q2
Write the code to print sum of all even numbers from 1 to 201

In [28]:
even = []
for i in range(1,202):
    if i%2 == 0:
        even.append(i)

sum_even = sum(even)
sum_even

10100

# Q3
`my_list = [3, 5, 7, 12, 41]`

Write the code to display the list of the squares of each number in my list

- Without using list comprehension
- Using list comprehension

In [34]:
my_list = [3, 5, 7, 12, 41]
square_list = []
for item in my_list:
    square_list.append(item**2)
square_list

[9, 25, 49, 144, 1681]

In [36]:
square = [item**2 for item in my_list]
square

[9, 25, 49, 144, 1681]

# Q4
`my_list1 = [3, 53,47, 22, 53, 78, 12, 41]`

Calculate the average of my_list1

- Without using sum and len fucnctions
- Using sum and len functions

In [3]:
my_list1 = [3, 53,47, 22, 53, 78, 12, 41]
my_list1

[3, 53, 47, 22, 53, 78, 12, 41]

In [49]:
# Using sum and len functions
add = sum(my_list1)
print(add)
tot = len(my_list1)
print(tot)

avg = add/tot
avg

309
8

38.625

In [5]:
# without sum and len
total = 0
for i in my_list1:
    total+=1
print(total)

8

In [7]:
summation = 0
for i in my_list1:
    summation+=i
print(summation)

309

In [8]:
avge = summation/total
avge

38.625

# Q4

Write a Python program to guess a number between 1 and 9.
User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [21]:
number = 8  # Change this to any integer between 1 and 9

while True:
    guess = int(input("Guess a number between 1 and 9: "))
    if guess == number:
        print("Well guessed!")
        break
    else:
        print("Wrong guess, try again.")

Guess a number between 1 and 9: 4
Wrong guess, try again.
Guess a number between 1 and 9: 9
Wrong guess, try again.
Guess a number between 1 and 9: 1
Wrong guess, try again.
Guess a number between 1 and 9: 7
Wrong guess, try again.
Guess a number between 1 and 9: 8
Well guessed!

# Q5
Write a Python program to construct the following pattern.

`*` 

`* *` 

`* * *` 

`* * * *` 

`* * * * *`

In [25]:
n = 6
for i in range(n):
    for j in range(i):
        print ('* ', end = " ")
    print('')

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

# Q6

Write a Python program that accepts a word from the user and reverses it.

In [32]:
name = input("what is your name?\n")
re_name = name[::-1]
re_name

what is your name?
prince

'ecnirp'

# Q7
Write a Python program that accepts a word from the user and reverses it.

In [42]:
name = input("what is your name?\n")
re_name = name[::-1]
re_name

what is your name?
Akosua

'ausokA'

# Q8

`lst = [3,4,5,4,7,8,5,8,3,6,8,9,11]`

Write a Python program to count the number of even and odd numbers in the above list of numbers.

**Expected output should be in this format**

{"Even" : num_of_even, "Odd": num_of_odd}

In [43]:
lst = [3,4,5,4,7,8,5,8,3,6,8,9,11]
lst

[3, 4, 5, 4, 7, 8, 5, 8, 3, 6, 8, 9, 11]

In [68]:
num_of_odd = 0
num_of_even = 0

for i in lst: 
    if i%2 ==0:
        num_of_even +=1
    else:
        num_of_odd +=1
        
ans = {"Even":num_of_even,"Odd":num_of_odd}

ans

{'Even': 6, 'Odd': 7}

# Q9
 Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".
Sample Output :
1

2

fizz

4

buzz

In [70]:
for num in range(1,51):
    if num%3 == 0 and num%5 == 0:
        print("FizzBuzz")
    elif num%3 == 0:
        print("Fizz")
    elif num%5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Q10
 Write a Python program to find the median of three values inputs from the user

In [72]:
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
c = int(input("Enter third value: "))

if a > b:
    if b > c:
        median = b
    elif a > c:
        median = c
    else:
        median = a
else:
    if b < c:
        median = b
    elif a < c:
        median = c
    else:
        median = a

print("The median is:", median)

Enter first value: 5
Enter second value: 4
Enter third value: 3
The median is: 4

# Q11
Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [73]:
count = 0
total = 0

while True:
    num = int(input("Enter an integer number (0 to finish): "))
    if num == 0:
        break
    count += 1
    total += num

if count == 0:
    print("No numbers were entered.")
else:
    average = total / count
    print("Sum of entered numbers:", total)
    print("Average of entered numbers:", average)

Enter an integer number (0 to finish): 5
Enter an integer number (0 to finish): 5
Enter an integer number (0 to finish): 24
Enter an integer number (0 to finish): 96
Enter an integer number (0 to finish): 24
Enter an integer number (0 to finish): 84
Enter an integer number (0 to finish): 24
Enter an integer number (0 to finish): 32
Enter an integer number (0 to finish): 34
Enter an integer number (0 to finish): 3321
Enter an integer number (0 to finish): 3
Enter an integer number (0 to finish): 324
Enter an integer number (0 to finish): 324
Enter an integer number (0 to finish): 24
Enter an integer number (0 to finish): 0
Sum of entered numbers: 4324
Average of entered numbers: 308.85714285714283

# Q12
 Write a Python program to create the multiplication table (from 1 to 12) of a number input from a user.
 
 Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60 

6 x 11 = 66

6 x 12 = 72

In [19]:
for i in range(1,13):
    ans = i*6
    print(f"6 x {i} = {ans}")

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

# Q13
Write a Python program to construct the following pattern

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [12]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Q14
Print sum of all odd numbers from 10 to 50

In [63]:
odd = list()
for m in range(10,51):
    if m%2==1:
        odd.append(m)
sum_odd = sum(odd)
sum_odd

600

# Q15

`my_list = [25, 100, 121, 400, 81]`

Write the code to display the list of the square root of each number in my list

- Without using list comprehension
- Using list comprehension

In [2]:
my_list2 = [25, 100, 121, 400, 81]
my_list2

[25, 100, 121, 400, 81]

In [7]:
power2 = []
for fig in my_list2:
    power2.append(fig**2)
power2

[625, 10000, 14641, 160000, 6561]

In [8]:
power2 = [fig**2 for fig in my_list2]
power2

[625, 10000, 14641, 160000, 6561]